#footer {
	background-color: #404040;

	.goto-top {
		background-color: #4b4b4b;
		padding: 20px 0;
		display: block;
	}

	.links {
		padding: 20px;
		overflow: hidden;

		ul {
			.blank-list;

			&.left {
				float: left;
			}

			&.right {
				float: right;
			}

			li {
				padding: 20px;
			}
		}
	}

	.copy {
		padding: 20px;
	}
}