#header {
	height: 90px;
	background-color: #404040;
	display: table;
	width: 100%;

	.find {
		width: 48px;
		display: table-cell;
		vertical-align: middle;
		padding-right: 20px;

		a {
			.no-border; 
			.plain-link;
			display: block;
			width: 48px; height:48px;
			background: transparent url('../images/glyph/find-btn.png') no-repeat 100% 100%;
		}
	}

	.logo {
		text-align: center;
		img {
			margin: 0 auto;
		}
	}
}