@media only screen and (max-width: 320px) {
	
}

@media only screen and (min-width: 480px) {
	h1 {
		font-size: 44px;
	}

	h2 {
		font-size: 34px;
	}

	h3 {
		font-size: 28px;
	}

	.search {
		.input-wrapper {
			height: 80px;
		}

		button {
			width: 80px;
			font-size: 64px;
		}
	}
}