<!DOCTYPE html>
<html lang="en" ng-app="control">
	<head>
	    <meta charset="utf-8">
	    <title>Control Panel</title>
	    <script src="scripts/vendor/angular.min.js"></script>
	    <script src="scripts/data/merchants.js"></script>
	    <script src="scripts/app.js"></script>
	    <link rel="stylesheet" href="styles/control.css" type="text/css" />
	</head>
	<body>
		<h1>Linked Merchants</h1>
		<div ng-controller="MerchantListCtrl">
			<h2>Total Merchants Linked: {{linked.length}}</h2>
			<label>
				Linked: 
				<select id="linked"  multiple="true" ng-options="m.name for m in linked" ng-model="unwanted" size="10"></select>
			</label>

			<label>
				Merchants Available: 
				<select id="merchants" multiple="true" size="10" ng-options="m.name for m in merchants" ng-model="wanted" ></select>
			</label>
			
			<a href="" ng-click="link()">Link Merchants</a>			
			<a href="" ng-click="delete()">Delete Merchants</a>			
			<a href="" ng-click="save()">Save</a>			
		</div>
	</body>
</html>