<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Create an Appointment</h4>
    </div>
    <div class="modal-body">
      <p>
        <span id="start" class="start" data-start='<%= model.start.format('YYYY-MM-DDTHH:mm:ss.SSSZZ') %>'>
          <%= model.start.format('h:mma') %>
        </span> to 
        <span id="end" class="end" data-end='<%= model.end.format('YYYY-MM-DDTHH:mm:ss.SSSZZ') %>'>
          <%= model.end.format('h:mma') %>
        </span> on 
        <span class="date">
          <%= model.start.format('ddd Do MMM') %>
        </span> 
      </p>
      <div class="input-group">
        <input id="note" type="text" name="note" class="large" placeholder="Note" />
      </div>
      <div id="search" class="input-group">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" id="save">Save changes</button>
    </div>
  </div>
</div>